<div>
  <div class="alert alert-info" role="alert" *ngFor="let project of projects.items">
    <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
      <div class="p-2">
        <a href="{{ project.fields.url }}" target="_blank"><img src="{{ project.fields.projectImage.fields.file.url }}" class="rounded" width="196" /></a>
      </div>
      <div class="p-2">
        <h5 class="alert-heading"><a href="{{ project.fields.url }}" target="_blank">{{ project.fields.title}}</a></h5>
        <p><i>{{ project.fields.author }}</i></p>
        <div>{{ project.fields.description }}</div>
        <a href="{{ project.fields.url }}" target="_blank" class="btn btn-success">Go To project</a>
        <button (click)="goToProjectDetailsPage(project.sys.id)" class="btn btn-info">project Details</button>
      </div>
    </div>
  </div>
</div>
