
<!--<div class="outer-container">-->
  <!--<div class="container portfolio-page">-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<ul class="breadcrumbs flex align-items-center">-->
          <!--<li><a href="#">Home</a></li>-->
          <!--<li>Portfolio</li>-->
        <!--</ul>&lt;!&ndash; .breadcrumbs &ndash;&gt;-->
      <!--</div>&lt;!&ndash; .col &ndash;&gt;-->
    <!--</div>&lt;!&ndash; .row &ndash;&gt;-->


<div class="outer-container home-page">
  <div class="container-fluid portfolio-page">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 padding-5p project-list-item" *ngFor="let project of projects.items" >
        <div class="portfolio-content" >
          <figure *ngIf="hasImageUrl(project.fields.mainImage)">
            <img [src]="getImageUrl(project.fields.mainImage)" alt="">
          </figure>
          <figure *ngIf="!hasImageUrl(project.fields.mainImage)">
            <img src="../assets/images/empty.jpg" alt="">
          </figure>
          <div class="entry-content flex flex-column align-items-center justify-content-center">
            <h3><a href="#" >{{ project.fields.title}}</a></h3>
            <ul class="flex flex-wrap justify-content-center">
              <li><a href="#" (click)="goToProjectDetailsPage(project.sys.id)"  >{{ project.fields.subTitle}}</a></li>
            </ul>
          </div><!-- .entry-content -->
        </div><!-- .portfolio-content -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .outer-container -->