<nav class="site-navigation flex flex-column justify-content-between">
  <div class="site-branding d-none d-lg-block ">
    <h1 class="site-title"><a href="index.html" rel="home"><img src="images/logo2.png" alt="Logo"></a></h1>
  </div><!-- .site-branding -->

  <ul class="main-menu flex flex-column justify-content-center">
    <li class="current-menu-item"><a href="/">Home</a></li>
    <li><a href="portfolio.html">Portfolio</a></li>
    <!--<li><a href="blog.html">Blog</a></li>-->
    <li><a href="#">About</a></li>
    <li><a href="#" (click)="goToContactPage()" >Contact</a></li>
  </ul>
</nav>
