<div>
  <router-outlet></router-outlet>
  <header class="site-header">
    <div class="site-branding">
      <h1 class="site-title"><a href="index.html" rel="home"><img src="assets/images/logo.png" alt="Logo"></a></h1>
    </div><!-- .site-branding -->

    <div class="hamburger-menu">
      <div class="menu-icon" (click)="toggleMenu()" >
        <img *ngIf="open == false" src="assets/images/menu-icon.png"  alt="menu icon">
        <img *ngIf="open == true"  src="assets/images/x.png"          alt="menu close icon">
      </div><!-- .menu-icon -->
    </div><!-- .hamburger-menu -->
  </header><!-- .site-header -->

  <app-menu></app-menu>
</div>
